conky.config = {
-- --------------------------------------------------------------------------------------------- #

-- .conkyrc - derived from various examples across the 'net

-- Some of the sites that proved most usful include:
--   http://mylinuxramblings.wordpress.com/2010/03/23/how-to-configure-the-conky-system-monitor/`
--   http://crunchbanglinux.org/wiki/conky
--   http://lusule.wordpress.com/2008/08/07/how-to-4/

-- --------------------------------------------------------------------------------------------- #

-- -------------------- Conky's Run Time Parameters -------------------- #

	update_interval = 1.0,-- Conky update interval in seconds
	total_run_times = 0,-- Number of updates before quitting.  Set to zero to run forever.
	no_buffers = true,-- Subtract file system buffers from used memory?
	cpu_avg_samples = 2,-- Number of cpu samples to average. Set to 1 to disable averaging
	net_avg_samples = 2,-- Number of net samples to average. Set to 1 to disable averaging
	overwrite_file = '/tmp/conkyout.txt', --outputfile

-- -------------------- Conky's General Look &amp; Feel -------------------- #

-- --- defualt values --- #
	default_color = 'grey',-- Default color and border color
	default_bar_width = 0, default_bar_height = 6,-- Specify a default width and height for bars.
	default_gauge_width = 25, default_gauge_height = 25,-- Specify a default width and height for gauges.
	default_graph_width = 0, default_graph_height = 25,-- Specify a default width and height for graphs.
	default_outline_color = 'green',-- Default border and text outline color
	default_shade_color = 'yellow',-- Default border and text shading color

-- --- predefined colors - http://www.kgym.jp/freesoft/xrgb.html --- #
	color0 = '#FFFFFF',-- white
	color1 = '#FFA500',-- orange
	color2 = '#B22222',-- firebrick
	color3 = '#696969',-- dim gray
	color4 = '#D3D3D3',-- light gray
	color5 = '#2F4F4F',-- dark slate gray
	color6 = '#FFEC8B',-- light golden rod
	color7 = '#54FF9F',-- sea green
	color8 = '#222222',-- salmon
	color9 = '#FF0000',-- wheat

-- --- window layout &amp; options --- #
	own_window = true,-- Conky creates its own window instead of using desktop
	own_window_type = 'override',-- If own_window is yes, use type normal, desktop, or override
	own_window_transparent = false,-- Use pseudo transparency with own_window?
	own_window_colour = '222222',-- If own_window_transparent is no, set the background colour
	double_buffer = true,-- Use double buffering (reduces flicker)
	use_spacer = 'right',-- Adds spaces to stop object from moving
	maximum_width = 600,-- Maximum width of window in pixels
	own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',

-- --- window placment --- #
	alignment = 'top_right',

-- --- borders, margins, and outlines --- #
	draw_graph_borders = true,-- Do you want to draw borders around graphs
	border_inner_margin = 0,-- Window's inner border margin (in pixels)
	border_outer_margin = 0,-- Window's outer border margin (in pixels)
	gap_x = 20,-- Gap between borders of screen and text (on x-axis)
	gap_y = 1175,-- Gap between borders of screen and text (on y-axis)
	border_width = 20,-- Window's border width (in pixels)

-- --- Text --- #
	draw_outline = false,-- Do you want ot draw outlines
	draw_shades = false,-- Do you want to draw shades
	draw_borders = false,-- Do you want to draw borders around text
	uppercase = false,-- set to yes if you want all text to be in uppercase
	use_xft = true,-- use the X FreeType interface library (anti-aliased font)
	font = 'Monospace:size=8:weight=bold',-- Xft font to be used

-- -------------------- Conky's Displayed System Monitoring Parameters -------------------- #
};

conky.text = [[
${color8}xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
${color1}SYSTEM INFORMATION ${hr 2}$color
${color0}System: $color$nodename ${alignr}${color0}Uptime: $color$uptime
${color0}Kernel: $color$kernel${alignr}${color0}Arch: $color$machine
${color0}Frequency: $color$freq MHz
#${color0}Serial No.: $color${execi 99999 grep Serial /proc/cpuinfo | awk '{ print $3 }'}
${color0}MAC Address: $color${execi 99999 cat /sys/class/net/wlp58s0/address }
${color0}Volume		${color1}${font FontAwesome:size=9}  ${font}${exec /home/buttercup/.config/i3blocks/scripts/volume}
${color0}Brightness	${color1}${font FontAwesome:size=9}  ${font}${exec /home/buttercup/.config/i3blocks/scripts/brightness}
${color0}CapsLock	${color1}${if_match "${exec /home/buttercup/.config/i3blocks/scripts/caps}"=="Unlocked"}${font FontAwesome:size=9}  ${font}unlocked${else}${color9}${font FontAwesome:size=9}  ${font}locked${endif}
${color0}Battery	${color1}${font FontAwesome:size=9}  ${font}${exec /home/buttercup/.config/i3blocks/scripts/battery}
${color0}Temperature	${color1}${font FontAwesome:size=9}  ${font}${exec /home/buttercup/.config/i3blocks/scripts/temperature}
]];
